/* приоритет
* -1
tag -10
.class -100
#id -100
important - +1000 */

.container {
  height: 100vh;
  background-color: pink;
  border: 5px solid darkgray;

  display: flex;

  /* flex-direction: row по умолчанию ;
  flex-direction: row-reverse;
  flex-direction: column расставляет элементы в колоны; меняет оси х у 
  flex-direction: column-reverse; */

  /* justify-content: flex-start;
  justify-content: flex-end; */
  justify-content: center;
  /* выравнивает по горизонтали, по Х */
  /* justify-content: space-between;    между элементами, по бокам нет
  justify-content: space-around;     растояние вокруг элемента */
  /* justify-content: space-evenly;     одикановое растояние повсюду */

  /* align-items: flex-start;
  выравнивает по вертикали, по у 
  align-items: flex-end; */
  /* align-items: center;  двигает по вертикали*/
  /* align-items: baseline; центрует именно текст */
  /* align-items: stretch;  */

  /* flex-wrap: nowrap;
  flex-wrap: wrap; для перенесения на след строку при уменьшении размеров экрана*/
  /* flex-wrap: wrap-reverse; */
}

body {
  margin: 0;
}

.block {
  width: 150px;
  height: 150px;
  background-color: violet;
  color: white;
  font-size: 25px;
  /* margin: 10px; */

  display: flex;
  justify-content: center;
  /* для выравнивания по верху */
  align-items: center;
  /* для выравнивания по бокам */
}
#block-1 {
  /* order: 1; */
  /* меняет порядок, по умолчаниию 0, от меньшего к большему ? если одинаково то по порядку html*/
}
#block-2 {
  /* order: 2; */
}
#block-6 {
  /* order: -1; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 110px;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.right {
  list-style-type: none;
  display: flex;
  /* justify-content: space-between;
  width: 500px; */
  align-items: center;
}

li {
  margin-right: 15px;
  font-size: 18px;
  font-weight: 500px;
  color: #60e1cb;
}

#first {
  color: black;
  font-weight: 700;
}

button {
  color: white;
  background-color: #7bc0e3;
  border: none;
  padding: 10px 25px;
  border-radius: 1000px;
}
